In [10]:
from google.cloud import bigquery
import os
import pandas as pd
import datetime

In [11]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "key.json"

client = bigquery.Client()

project_id = "zapart-data-vlille"
dataset_id = "vlille_dataset"

In [12]:
table_ref = client.get_table(f'{project_id}.{dataset_id}.stations')
schema = table_ref.schema

for field in schema:
    print(field.name, field.field_type)

id INTEGER
nom STRING
adresse STRING
commune STRING
type STRING
latitude FLOAT
longitude FLOAT

In [14]:
sql = f"""
SELECT *
FROM `{project_id}.{dataset_id}.stations`
"""

df_stations = client.query(sql).to_dataframe()

In [15]:
df_stations.head()

,id,nom,adresse,commune,type,latitude,longitude
0,136,RUE CHAMBORD,RUE CHAMBORD,VILLENEUVE D'ASCQ,SANS TPE,50.629720,3.133873
1,270,PAVÉ DE LILLE,Rue Jean Bart,WASQUEHAL,AVEC TPE,50.664211,3.130098
2,35,LECLERC,24 PLACE MARECHAL LECLERC,LILLE,AVEC TPE,50.628990,3.043307
3,44,GAMBETTA UTRECHT,199 RUE LEON GAMBETTA,LILLE,AVEC TPE,50.629063,3.053711
4,11,NOUVEAU SIECLE,10 RUE DE PAS,LILLE,AVEC TPE,50.637340,3.060977

In [17]:
# add a column 'geo' [latitude, longitude]
df_stations['geo'] = df_stations.apply(lambda row: [row['latitude'], row['longitude']], axis=1)
df_stations.head()

,id,nom,adresse,commune,type,latitude,longitude,geo
0,136,RUE CHAMBORD,RUE CHAMBORD,VILLENEUVE D'ASCQ,SANS TPE,50.629720,3.133873,"[50.62972, 3.133873]"
1,270,PAVÉ DE LILLE,Rue Jean Bart,WASQUEHAL,AVEC TPE,50.664211,3.130098,"[50.664211, 3.130098]"
2,35,LECLERC,24 PLACE MARECHAL LECLERC,LILLE,AVEC TPE,50.628990,3.043307,"[50.62899, 3.043307]"
3,44,GAMBETTA UTRECHT,199 RUE LEON GAMBETTA,LILLE,AVEC TPE,50.629063,3.053711,"[50.629063, 3.053711]"
4,11,NOUVEAU SIECLE,10 RUE DE PAS,LILLE,AVEC TPE,50.637340,3.060977,"[50.63734, 3.060977]"